In [15]:
from sqlalchemy import *
import os
import pandas as pd
import numpy as np

In [10]:
e = create_engine(
    "mysql+pymysql://super:ricingsun@localhost/sakila?charset=utf8")

In [20]:
result = e.execute('SELECT * FROM sakila.actor')
# for _r in result:
#    print(_r)

pdf=pd.DataFrame(result.fetchall())

In [25]:
pdf

       0          1             2                   3
0      1   PENELOPE       GUINESS 2006-02-15 04:34:33
1      2       NICK      WAHLBERG 2006-02-15 04:34:33
2      3         ED         CHASE 2006-02-15 04:34:33
3      4   JENNIFER         DAVIS 2006-02-15 04:34:33
4      5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
5      6      BETTE     NICHOLSON 2006-02-15 04:34:33
6      7      GRACE        MOSTEL 2006-02-15 04:34:33
7      8    MATTHEW     JOHANSSON 2006-02-15 04:34:33
8      9        JOE         SWANK 2006-02-15 04:34:33
9     10  CHRISTIAN         GABLE 2006-02-15 04:34:33
10    11       ZERO          CAGE 2006-02-15 04:34:33
11    12       KARL         BERRY 2006-02-15 04:34:33
12    13        UMA          WOOD 2006-02-15 04:34:33
13    14     VIVIEN        BERGEN 2006-02-15 04:34:33
14    15       CUBA       OLIVIER 2006-02-15 04:34:33
15    16       FRED       COSTNER 2006-02-15 04:34:33
16    17      HELEN        VOIGHT 2006-02-15 04:34:33
17    18        DAN          TORN 2006-02-15 04:34:33
18    19        BOB       FAWCETT 2006-02-15 04:34:33
19    20    LUCILLE         TRACY 2006-02-15 04:34:33
20    21    KIRSTEN       PALTROW 2006-02-15 04:34:33
21    22      ELVIS          MARX 2006-02-15 04:34:33
22    23     SANDRA        KILMER 2006-02-15 04:34:33
23    24    CAMERON        STREEP 2006-02-15 04:34:33
24    25      KEVIN         BLOOM 2006-02-15 04:34:33
25    26        RIP      CRAWFORD 2006-02-15 04:34:33
26    27      JULIA       MCQUEEN 2006-02-15 04:34:33
27    28      WOODY       HOFFMAN 2006-02-15 04:34:33
28    29       ALEC         WAYNE 2006-02-15 04:34:33
29    30     SANDRA          PECK 2006-02-15 04:34:33
..   ...        ...           ...                 ...
170  171    OLYMPIA      PFEIFFER 2006-02-15 04:34:33
171  172    GROUCHO      WILLIAMS 2018-04-12 10:11:59
172  173       ALAN      DREYFUSS 2006-02-15 04:34:33
173  174    MICHAEL        BENING 2006-02-15 04:34:33
174  175    WILLIAM       HACKMAN 2006-02-15 04:34:33
175  176        JON         CHASE 2006-02-15 04:34:33
176  177       GENE      MCKELLEN 2006-02-15 04:34:33
177  178       LISA        MONROE 2006-02-15 04:34:33
178  179         ED       GUINESS 2006-02-15 04:34:33
179  180       JEFF   SILVERSTONE 2006-02-15 04:34:33
180  181    MATTHEW        CARREY 2006-02-15 04:34:33
181  182     DEBBIE        AKROYD 2006-02-15 04:34:33
182  183    RUSSELL         CLOSE 2006-02-15 04:34:33
183  184   HUMPHREY       GARLAND 2006-02-15 04:34:33
184  185    MICHAEL        BOLGER 2006-02-15 04:34:33
185  186      JULIA     ZELLWEGER 2006-02-15 04:34:33
186  187      RENEE          BALL 2006-02-15 04:34:33
187  188       ROCK       DUKAKIS 2006-02-15 04:34:33
188  189       CUBA         BIRCH 2006-02-15 04:34:33
189  190     AUDREY        BAILEY 2006-02-15 04:34:33
190  191    GREGORY       GOODING 2006-02-15 04:34:33
191  192       JOHN        SUVARI 2006-02-15 04:34:33
192  193       BURT        TEMPLE 2006-02-15 04:34:33
193  194      MERYL         ALLEN 2006-02-15 04:34:33
194  195      JAYNE   SILVERSTONE 2006-02-15 04:34:33
195  196       BELA        WALKEN 2006-02-15 04:34:33
196  197      REESE          WEST 2006-02-15 04:34:33
197  198       MARY        KEITEL 2006-02-15 04:34:33
198  199      JULIA       FAWCETT 2006-02-15 04:34:33
199  200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]